[submodule "my-units"]
	path = my-units
	url = https://github.com/AmirAavani/my-units.git
[submodule "external/hashing/HashLib4Pascal"]
	path = external/hashing/HashLib4Pascal
	url = https://github.com/Xor-el/HashLib4Pascal
[submodule "murrayc-suffix-tree"]
	path = external/murrayc-suffix-tree
	url = https://github.com/murraycu/murrayc-suffix-tree.git
